@tailwind base;
@tailwind components;
@tailwind utilities;

/* leichte Grundgestaltung */
html, body {
  height: 100%;
  background: #fff;
  color: #1f2937; /* gray-800 */
  font-size: 15px;
  line-height: 1.35;
}
#root { min-height: 100vh; }